In [1]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_excel('../Day5/data/score.xlsx', index_col='지원번호')

In [15]:
# # int타입에 cm문자 추가 방법
# df['키'] = df['키'].astype(str) + 'cm'

# 함수 사용해서 추가
def add_cm(height):
    return str(height) + 'cm'

df['키'] = df['키'].apply(add_cm)
df['합계'] = df['국어'] + df['영어'] +df['수학']+df['과학']+df['사회']
df['평균'] = df['합계'] / 5
df['등급'] = 'F'
df

def rank(score):
    result = ''
    if score >= 90 :
        result = 'A'
    elif score >= 80:
        result = 'B'
    elif score >= 70:
        result = 'C'
    elif score >= 60:
        result = 'D'
    else:
        result = 'F'
    return result

df['등급'] = df['평균'].apply(rank)
df

       이름    학교      키   국어   영어   수학  과학  사회        SW특기   합계    평균 등급
지원번호
1번    홍길동   가산고  197cm   90   85  100  95  85      Python  455  91.0  A
2번    유관순   가산고  184cm   40   35   50  55  25        Java  205  41.0  F
3번    이순신   가산고  168cm   80   75   70  80  75  Javascript  380  76.0  C
4번    강감찬   가산고  187cm   40   60   70  75  80         NaN  325  65.0  D
5번     김구   가산고  188cm   15   20   10  35  10         NaN   90  18.0  F
6번    김유신  디지털고  202cm   80  100   95  85  80           C  440  88.0  B
7번    홍길자  디지털고  188cm   55   65   45  40  35      PYTHON  240  48.0  F
8번    홍길순  디지털고  190cm  100   85   90  95  95          C#  465  93.0  A

In [ ]:
# df['SW특기'].str.lower()
# df['SW특기'].str.capitalize()

# na : True NaN데이터 포함 검색, False:제외
filt = df['SW특기'].str.lower().str.contains('java', na=False)
df[filt]

       이름   학교      키  국어  영어  수학  과학  사회        SW특기   합계    평균 등급
지원번호
2번    유관순  가산고  184cm  40  35  50  55  25        Java  205  41.0  F
3번    이순신  가산고  168cm  80  75  70  80  75  Javascript  380  76.0  C

In [ ]:
### SW특기 컬럼 글자를 전부 대문자로 변경, NaN데이터는 C를 입력
df['SW특기'].fillna("C", inplace=True)
df['SW특기'] = df['SW특기'].str.upper()


def changeData(a_data):
    return a_data.str.upper()

df['SW특기'] = df['SW특기'].apply(changeData)

       이름    학교      키   국어   영어   수학  과학  사회        SW특기   합계    평균 등급
지원번호
1번    홍길동   가산고  197cm   90   85  100  95  85      PYTHON  455  91.0  A
2번    유관순   가산고  184cm   40   35   50  55  25        JAVA  205  41.0  F
3번    이순신   가산고  168cm   80   75   70  80  75  JAVASCRIPT  380  76.0  C
4번    강감찬   가산고  187cm   40   60   70  75  80           C  325  65.0  D
5번     김구   가산고  188cm   15   20   10  35  10           C   90  18.0  F
6번    김유신  디지털고  202cm   80  100   95  85  80           C  440  88.0  B
7번    홍길자  디지털고  188cm   55   65   45  40  35      PYTHON  240  48.0  F
8번    홍길순  디지털고  190cm  100   85   90  95  95          C#  465  93.0  A